.progressBar
{
    position: relative;
    width: 600px;
    height: 10px;
    background-color: black;
}

.timeBar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ccc;
}


.progressBar2
{
    position: relative;
    /* top: 100px; */
    width: 600px;
    height: 10px;
    background-color: black;
}

.timeBar2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ccc;
}

.btn
{
    /* background-color: blue; */
    position: relative;
    /* top: 250px; */
}

#canvasBar
{
    height: 10px;
    width: 600px; 
    position: absolute; 
    /* background-color: yellow;   */
    }

#barCanvas
{
    height: 10px;
    width: 600px; 
    position: absolute; 
    /* background-color: yellow;   */
    }
.progressBar3
{
    position: relative;
    /* top: 80px; */
    width: 600px;
    height: 10px;
    background-color: antiquewhite;
    border: black solid 2px;
}

.progressBar4
{
    position: relative;
    /* top: 80px; */
    width: 600px;
    height: 10px;
    background-color: antiquewhite;
    border: black solid 2px;
}
    