.progressBar
{
    position: relative;
    width: 600px;
    height: 10px;
    background-color: black;
}

.timeBar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ccc;
}


.progressBar2
{
    position: relative;
    top: 100px;
    width: 600px;
    height: 10px;
    background-color: black;
}

.timeBar2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: red;
}

.btn
{
    background-color: blue;
    position: relative;
    top: 250px;
}

.canvasBar
{
    height: 10px;
    /* width: 600px; */
    position: absolute;
    top: 15px;
    background-color: black;
    }