<!DOCTYPE html>
<html lang = 'en'>
<head>
	<meta charset = 'UTF-8'>
    <title>HighLight</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
	<!-- <script src =https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js > -->
	</script>
    <link rel="shortcut icon" href="../../static/images/icons/favicon.ico">
	<link rel="stylesheet" href="./css/play.css">
	
</head> 

<body>
    <!-- <iframe src="../static/highlight/test_news.mp4" height="480" width="640" id = play></iframe> -->

    <h2>원본</h2>
    <!-- <video width="640" height="480" controls id = play>
        <source src="../static/highlight/test_news.mp4" type="video/mp4">
        <source src="../static/highlight/test_news.ogg" type="video/ogg">
    </video>  -->

    <input type="button" value = '재생/일시정지' onclick = 'play_pause();'>
    
    <script>
        /////play, pause toggle
        function play_pause(){
            if(play.paused){
                play.play();
            }else{
                play.pause();
            }
        };
    </script>
    

    <hr>
    <!-- start, end time 입력 -->
    <h2>시간 입력</h2>
    <form name= time action = 'output' method="GET" >
        {% csrf_token %}
        <input type="text" name = text id = starttime>
        <input type="text" name = text id = endtime>
        <input type="button" class = 'crop_button' value = 'play' >
    </form>

    <script>
    var $starttime= 5;
    var $endtime= 10;
    $('.crop_button').click(function(){
        $.get({url: 'output', 
                data: {'starttime': $('#starttime').val(),
                        'endtime': $('#endtime').val()},
                success: function(data){
                        $starttime= data['starttime'];
                        $endtime=data['endtime'];
                        alert($starttime);
                        alert($endtime);
                            }
                        }
        )}
    );
    </script>

    <hr>
    <h2>자른 비디오 재생</h2>

    <input type="button" value = '자른 비디오 재생' onclick = 'crop_play()'>

    <video width="640" height="480" controls id = 'play2' >
        <source src="../static/highlight/test_news.mp4#t=5,10" type="video/mp4" id = 'old_src'>
        <!-- <source src="../static/highlight/test_news.mp4" type="video/mp4" id = 'new_src'> -->
        <!-- <source src="../static/highlight/test_news.ogg" type="video/ogg"> -->
    </video> 

    <script>
        // url#t=2,3,이용
        //https://wallel.com/jquery-%ED%8A%B9%EC%A0%95-%EC%86%8C%EC%8A%A4%EC%9D%98-%EA%B0%92-%EB%BD%91%EC%95%84%EC%98%A4%EA%B8%B0-%EC%A3%BC%EC%86%8C-%EA%B2%BD%EB%A1%9C-%EB%8D%B0%EC%9D%B4%ED%84%B0-%EB%93%B1%EB%93%B1/
        // var $old_addr = $('#old_src').attr('src');
        var $old_addr = "../static/highlight/test_news.mp4"

        function crop_play(){
            var $play2=$('#play2')
            var $new_addr = $old_addr + '#t='+$starttime+',' +$endtime;
            alert($new_addr);

            if (starttime != 0){
                $('#old_src').attr('src', $new_addr);
                alert($('#old_src').attr('src'));
            }
            $play2[0].load();
            $play2[0].play();
        };

        ///// timerange속성 사용
        //var $vid = $('#play2')[0];

        // function crop_play(){
        //     alert("Start: " + $vid.buffered.start(0) + " End: "  + $vid.buffered.end(0));
        //     alert("duration: " + $vid.buffered.length);
        //     $vid.buffered.start(0)
        //     $vid.buffered.end(0);
        //     $vid.play();
        //     };
    </script>
    
    <hr>
    <h2>클릭 지점 찾기</h2>
    <div class="progressBar">
        <div class="bufferBar"></div>
    </div>


    </script>















    <hr>
    <h2>canvas로 그리기</h2>
    <input type="button" value = '총 재생시간' onclick = 'all_time();' id = alltime>

    <canvas id="myCanvas">Your browser does not support the canvas tag.</canvas>

    <script>
        var $duration = 0;
        var $canvas = $('#myCanvas');
        var $canvastext = $canvas[0].getContext('2d')
        var $progress_width = 0;

        function all_time(){
            $duration = $('#play2')[0].duration;
            alert($duration);
            $canvastext.fillStyle = "#FF0000";
        $progress_width = Number($duration) * 100
        alert($progress_width)
        $canvastext.fillRect(0, 0, $progress_width, 100);
        }

        

    </script>


</body>
</html>

<!-- https://html.spec.whatwg.org/multipage/media.html#time-ranges -->
<!-- https://taegon.kim/archives/3058 -->
<!-- https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/buffering_seeking_time_ranges -->
<!-- https://www.inwebson.com/html5/custom-html5-video-controls-with-jquery/ -->