<!DOCTYPE html>
<html lang = 'en'>
<head>
	<meta charset = 'UTF-8'>
    <title>HighLight</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
	<!-- <script src =https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js > -->
    </script>
    
    <link rel="shortcut icon" href="../../static/images/icons/favicon.ico">
	<link rel="stylesheet"  type = 'text/css' href="/static/css/video_edit.css">

</head> 

<body>
    <video id="myVideo" controls poster="../../static/highlight/wait.png" width="600" height="400" >
        <source src="../static/highlight/test_news.mp4" type="video/mp4" />
        <!-- <source src="video.webm" type="video/webM" /> -->
        <!-- <source src="video.ogv" type="video/ogg" /> -->
        <p>Your browser does not support the video tag.</p>
    </video>
    
    <!-- Video Play/Pause Controls -->
    <div class="control">
        <a href="#" class="btnPlay">Play/Pause</a>
    </div>

    <!-- Display Video Current Playback Time and Duration -->
    <div class="progressTime">
        Current play time: <span class="current"></span><br>
        Video duration: <span class="duration"></span>
    </div>

    <!-- Video Progress Bar -->
    <div class="progressBar">
        <div class="timeBar"></div><br>
        Maxduration: <span class = 'maxduration'></span><br>
        CurrentPos: <span class = 'currentPos'></span><br>
        Percentage: <span class = 'percentage'></span><br>
    </div>
    <br>

    <!-- start, end -->
    
    <div class="progressBar2">
        <div class="timeBar2"></div><br>
        <div class = canvasBar>
            <!-- <canvas class = 'myCanvas'></canvas> -->
        </div><br>

        Start time: <span class="starttime"></span><br>
        End time: <span class = 'endtime'></span>

        <br>
        <!-- Video duration: <span class="duration2"></span><br>
        Maxduration2: <span class = 'maxduration2'></span><br>
        CurrentPos2: <span class = 'currentPos2'></span><br>
        Percentage2: <span class = 'percentage2'></span><br> -->
        Start_time_array: <span class="starttimearray"></span><br>
        End_time_array: <span class="endtimearray"></span><br>
        time_array: <span class="timearray"></span><br>

        Cansvas position: <span class="canvasposition"></span><br>

    </div><br>

    <div class = btn>
        <input type="button" value = 'start time' class = start_btn>
        <input type="button" value = 'end time' class = end_btn>
        <input type="button" value = 'END' class = END_btn>
    </div>
    
    
    <script type = 'text/javascript' src = '/static/js/video_edit.js'></script>
    <!-- <script type = 'text/javascript' src = '/teamproject/templates/highlight/js/play_inwebson.js'></script> -->
    

</body>
</html>


    <!-- https://www.inwebson.com/html5/custom-html5-video-controls-with-jquery/ -->
