<!DOCTYPE html>
<html lang = 'en'>
<head>
	<meta charset = 'UTF-8' content="width=device-width, initial-scale=1, shrink-to-fit=no" >
    <title>Test2</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    </script>
    
    <link rel="shortcut icon" href="../../static/images/icons/favicon.ico">

</head> 

<body>
    

    <h2>upload 성공!</h2>

    <form action='videoedit' enctype="multipart/form-data" method = 'POST'>
        {% csrf_token %}
        <input type = 'file' name = 'filename'>
        <input type = 'submit' value = 'upload'>
    </form>


    <!-- <script type = 'text/javascript' src = '/teamproject/static/js/upload.js'></script> -->
    

</body>
</html>
