html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}


video, canvas {
    width: 100%;
    max-height: calc(100% - 8px);
    position: absolute;
    top:0;
    left:0;
}

canvas{
    z-index: 10;
    position: absolute;
    top:0;
    left:0;
    border: 0;
}

label {
    margin-left: 10px;
    cursor: pointer;
}

input[type=checkbox]{
    vertical-align: middle;
    cursor: pointer;
}

#resizable {
    position: relative;
    width: 900px;
    height: 500px;
    border: 1px solid black;
    resize:both;
    overflow:auto; /* something other than visible */
    padding:10px !important;
}

.hidden{
    display: none !important;
}




.play_toggle {
    width: 40px;
}

.ffmpeg {
    vertical-align: middle;
    text-align: center;
    font-family: monospace;
    padding: 6px;
    margin-top: 20px;
    border: 1px dashed gray;
    background: black;
    color: white;
    cursor: text;
    max-width:900px;
}

.ffmpeg_log {
    font-family: monospace;
    white-space: pre;
    max-height: 100px;
    max-width: 900px;
    overflow-y: auto;
}

.download_links a{
    display: block;
}



/* //////////////////////////////result */
/* canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
} */

#myChart2, #myChart {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#analysisGraph, #analysisSvg, #searchSvg, #searchGraph{
	background-color: #cccccc;
}

#searchGraph, #analysisGraph{
    width: 900px;
    height: 200px;
}

/* 
#analysisGraph, #searchGraph{
    width:100%;
    height:100px;
} */
.highlightChart, .kChart, .kChart, .aChart{
    position: absolute;
}

#analysisSvg, #searchSvg, .mychart,.chartjs-render-monitor{
    /* max-width: 100%; */
    width: 100%;
    height:100px;
    position: relative;
}

.slider_wrapper{
    position: relative;
    margin-bottom: 10px;
    width: 900px;
}
.slider_wrapper2{
    position: relative;
    margin-bottom: 10px;
    width: 900px;
}

.slider_time_pos{
    position: absolute;
    width: 4px;
    background: red;
    height: 100%;
    top: 0;
    left: 20%;
    z-index: 12;
    cursor: pointer;
}
.slider_time_pos2{
    position: absolute;
    width: 4px;
    background: red;
    height: 100%;
    top: 0;
    left: 20%;
    z-index: 12;
    cursor: pointer;
}

.video2{
    visibility: hidden;
}

.radioBtn{
    position: absolute;
    float:right;
}


.hide_until_load, .hide_until_analysis {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    max-width: 1000px;
    padding-top: 20px;
    overflow: auto;
    padding: 10px !important;
    visibility: hidden;
}


.analysisLoading,.searchgameLoading{
    display: none;
    position: absolute;
    vertical-align: middle;
    left : 700px;
    /* left: calc(100%-100px); */
    /* width: 100% */
}

